<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location permissions are needed to record data points in real time.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location permissions are needed to record data points in real time whle using the app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location permissions are ideal for use in Groundsman to ensure your data is accurate at all times.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>Groundsman</string>
	<key>CFBundleIdentifier</key>
	<string>com.qutgeodev.groundsman</string>
	<key>CFBundleVersion</key>
	<string>5.0.2</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>GeoJSON</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.dt.document.geojson</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-11</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-11</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Content</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.content</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ezgif.com-gif-maker-11</string>
			</array>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>Groundsman</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add a Feature</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.geoapplads.Groundsman.000</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gamekit</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Groundsman uses your calendar to location points are encoded with the correct metadata</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.dt.document.geojson</string>
			<key>UTTypeReferenceURL</key>
			<string>http://geojson.org/</string>
			<key>UTTypeDescription</key>
			<string>GeoJSON file</string>
			<key>UTTypeIconFile</key>
			<string>public.jpeg.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.text</string>
				<string>public.item</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JSON</string>
				<key>public.filename-extension</key>
				<array>
					<string>geojson</string>
				</array>
				<key>public.mime-type</key>
				<string>application/json</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>5.0.2</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
